certifi==2023.7.22; python_version >= "3.7"
charset-normalizer==3.2.0; python_full_version >= "3.7.0" and python_version >= "3.7"
dearpygui==1.6.2; python_version >= "3.7"
idna==3.4; python_version >= "3.7"
pygame==2.1.2; python_version >= "3.6"
requests==2.31.0; python_version >= "3.7"
urllib3==2.0.5; python_version >= "3.7"
